extends include/layout
include include/_mixin
block Content 
    .breadcrumbs 
        .container 
            ul.breadcrumbs-list 
                li.breadcrumbs__item 
                    a(href="") Главная 
                li.breadcrumbs__item 
                    a(href="") Новости
                li.breadcrumbs__item 
                    a(href="") Lorem ipsum dolor sit amet, consectetur adipiscing
    .article 
        .container 
            h2.article__title Lorem ipsum dolor sit amet, consectetur adipiscing
        .article__img 
            img(src="Content/images/article.png", alt="Статья")
        .container 
            .article-body
                .article__asside 
                    .article__asside-head
                        .article__date 7 Октября 2021
                    .article__socials.socials 
                        a(href="#").socials__item
                            +svgSprite('icon-ig','40','40')
                        a(href="#").socials__item
                            +svgSprite('icon-fb','40','40')
                        a(href="#").socials__item
                            +svgSprite('icon-tw','40','40')
                .article__desc 
                    p Финансово-правовая группа запускает новый региональный проект – серию деловых экспертных мероприятий в формате бизнес-завтраков для генеральных директоров и собственников бизнеса в регионах России.
                    p Данный формат для нашей компании привычен – юристы всегда активно участвуют
                        | в различных федеральных и региональных деловых событиях.
                    p А благодаря обширной географии детальности Tenzor Consulting Group, нами накоплена огромная практика, позволившая понять специфику каждого региона России, его проблемы и правовые особенности что, безусловно, является, ценным для общения
                        | с представителями бизнеса.
                    p Мероприятия в рамках проекта пройдут в таких городах как: Санкт-Петербург, Екатеринбург, Ростов-на-Дону, Казань.
                    p Ведущие специалисты Tenzor Consulting Group расскажут представителям регионального бизнеса о значимых правовых аспектах бизнеса сегодня, изменениях, рисках и правовой безопасности. у них всё получится!
            
            .other-slider 
                h2.other-slider__title Другие новости
                .news-slider.slider.js-news-slider 
                    .swiper-wrapper 
                        .news__item.swiper-slide
                            .news__item-img 
                                img(src="Content/images/news/news-1.png", alt="Новость")
                            .news__item-date 17/10/22
                            .news__item-title Lorem ipsum dolor sit amet, consectetur adipiscing
                            .news__item-desc "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.
                            .news__item-link 
                                +link('Читать','#')
                        .news__item.swiper-slide
                            .news__item-img 
                                img(src="Content/images/news/news-2.png", alt="Новость")
                            .news__item-date 17/10/22
                            .news__item-title Lorem ipsum dolor sit amet, consectetur adipiscing
                            .news__item-desc "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.
                            .news__item-link 
                                +link('Читать','#')
                        .news__item.swiper-slide
                            .news__item-img 
                                img(src="Content/images/news/news-3.png", alt="Новость")
                            .news__item-date 17/10/22
                            .news__item-title Lorem ipsum dolor sit amet, consectetur adipiscing
                            .news__item-desc "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna aliqua.
                            .news__item-link 
                                +link('Читать','#')
                    .swiper-pagination
