extends include/layout
include include/_mixin
block Content 
    .breadcrumbs 
        .container 
            ul.breadcrumbs-list 
                li.breadcrumbs__item 
                    a(href="#") Главная 
                li.breadcrumbs__item 
                    a(href="#") Каталог
                li.breadcrumbs__item 
                    a(href="#") HTL BUSINESS
    //- h2.catalog__title HTL BUSINESS
    .catalog 
        .catalog-asside
            .catalog-list
                .catalog-list__head.js-accordeon Каталог
                .catalog-list__body 
                    .catalog-section 
                        .catalog-secion__head.active BUSINESS 
                        .catalog-section__list.active 
                            .catalog-section__item Все
                                span 55
                            .catalog-section__item Офисные
                                span 55
                            .catalog-section__item Линейные
                                span 55
                            .catalog-section__item Магистральные 
                                span 55
                            .catalog-section__item Даунлайты
                                span 55
                            .catalog-section__item Школьные
                                span 55
                            .catalog-section__item Медицинские
                                span 55
                            .catalog-section__item ЖКХ и тех.помещения
                                span 55
                    .catalog-section 
                        .catalog-secion__head PRODUCTION
                    .catalog-section 
                        .catalog-secion__head RETAIL
                    .catalog-section 
                        .catalog-secion__head OUTDOOR
                    .catalog-section 
                        .catalog-secion__head ARCHITECTURAL
                    .catalog-section 
                        .catalog-secion__head EMERGENCY
                    .catalog-section 
                        .catalog-secion__head INTERIOR
                    .catalog-section 
                        .catalog-secion__head HOME (DIY)
            .filter
                .filter-head.js-accordeon
                    .filter__title 
                        span Фильтр
                    .filter__reset 
                .filter-body 
                    .filter-section
                        .filter-section__head Тип монтажа
                        .filter-section__body 
                            .filter-section__item 
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="type-1" name="type")
                                    label.filter-check__label(for="type-1") Встроенный
                            .filter-section__item
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="type-2" name="type")
                                    label.filter-check__label(for="type-2") Накладной
                            .filter-section__item
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="type-3" name="type")
                                    label.filter-check__label(for="type-3") Подвесной
                    .filter-section
                        .filter-section__head Мощность, Вт
                        .filter-section__body 
                            .filter-range 
                                .filter-range__value 
                                    .filter-range__min 123
                                    .filter-range__max 123
                                .filter-range__slider.range-slider(data-min="24" data-max="40")
                    .filter-section
                        .filter-section__head Световой поток, Лм
                        .filter-section__body 
                            .filter-range 
                                .filter-range__value 
                                    .filter-range__min 123
                                    .filter-range__max 123
                                .filter-range__slider.range-slider(data-min="1200" data-max="7200")
                    .filter-section
                        .filter-section__head IP (степень защиты)
                        .filter-section__body 
                            .filter-section__item 
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="protect-1" name="protect")
                                    label.filter-check__label(for="protect-1") IP 20
                            .filter-section__item
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="protect-2" name="protect")
                                    label.filter-check__label(for="protect-2") IP 40
                            .filter-section__item
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="protect-3" name="protect")
                                    label.filter-check__label(for="protect-3") IP 54
                            .filter-section__item
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="protect-4" name="protect")
                                    label.filter-check__label(for="protect-4") IP 65
                    .filter-section
                        .filter-section__head Цветовая температура, К
                        .filter-section__body 
                            .filter-section__item 
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="temperature-1" name="temperature")
                                    label.filter-check__label(for="temperature-1") 3000
                            .filter-section__item
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="temperature-2" name="temperature")
                                    label.filter-check__label(for="temperature-2") 4000
                            .filter-section__item
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="temperature-3" name="temperature")
                                    label.filter-check__label(for="temperature-3") 5000
                            .filter-section__item
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="temperature-4" name="temperature")
                                    label.filter-check__label(for="temperature-4") 2700-6500
                    .filter-section
                        .filter-section__head Аварийный блок
                        .filter-section__body 
                            .filter-section__item 
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="block-1" name="block")
                                    label.filter-check__label(for="block-1") Да
                            .filter-section__item
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="block-2" name="block")
                                    label.filter-check__label(for="block-2") Нет
                    .filter-section
                        .filter-section__head Индекс цветопередачи (CRI)
                        .filter-section__body 
                            .filter-section__item 
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="color-idx-1" name="color-idx")
                                    label.filter-check__label(for="color-idx-1") 70 и ниже
                            .filter-section__item
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="color-idx-2" name="color-idx")
                                    label.filter-check__label(for="color-idx-2") 80
                            .filter-section__item
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="color-idx-2" name="color-idx")
                                    label.filter-check__label(for="color-idx-2") 90
                    .filter-section
                        .filter-section__head Управление
                        .filter-section__body 
                            .filter-section__item 
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="manage-1" name="manage")
                                    label.filter-check__label(for="manage-1") DALI
                            .filter-section__item
                                .filter-check 
                                    input.filter-check__input(type="checkbox", id="manage-2" name="manage")
                                    label.filter-check__label(for="manage-2") 1-10В
                a(href="#" target="_blank").catalog-download 
                    .catalog-download__text Скачать каталог
                        span PDF, 1.1Mb
                    +svgSprite('ico-download-cat',30, 28)
                    
                            
        .catalog-main
            .catalog-head 
                .catalog-sort__item 
                    span Сортировка: 
                    .catalog-sort__select по типу
                .catalog-sort__item 
                    span Показывать по:
                    .catalog-sort__select 64
                .catalog-sort__panel 
                    .catalog-sort__grid.active 
                        +svgSprite('ico-sort-grid',25,25)
                    .catalog-sort__line
                        +svgSprite('ico-sort-line',25,25)
                    .catalog-sort__compare К сравнению:
                        span 2
            .catalog-panel-mob
                .catalog-panel__btn Выбрать категорию
                    +svgSprite('ico-catalog', 36, 36)
                .catalog-panel__filters
                    +svgSprite('ico-filters', 30, 30)
            .catalog__items 
                .catalog__item.catalog__item--available 
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Есть в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog__item.catalog__item--available 
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Есть в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog__item.catalog__item--available 
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Есть в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog__item
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Нет в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog__item
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Нет в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog__item
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Нет в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog__item
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Нет в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog__item
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Нет в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog__item
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Нет в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog__item
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Нет в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog__item
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Нет в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog__item
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Нет в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog__item
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Нет в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog__item
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Нет в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog__item
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Нет в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog__item
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Нет в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog__item
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Нет в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog__item
                    .catalog__item-img 
                        img(src="Content/images/catalog/catalog-1.png", alt="")
                    .catalog__item-info
                        .catalog__item-stock Нет в наличии
                        .catalog__item-name Линейный светодиодный светильник
                        .catalog__item-type Optima OFL-3040
                        .catalog__item-price Цена по запросу
                .catalog-bottom 
                    .catalog__prev
                        +svgSprite('ico-pagination-arrow', 9, 15)
                    .catalog__pagination.pagination 
                        .pagination__item.active 1
                        .pagination__item 2
                        .pagination__item 3
                    .catalog__next
                         +svgSprite('ico-pagination-arrow', 9, 15)