extends include/layout
include include/_mixin
block Content 
    .breadcrumbs 
        .container 
            ul.breadcrumbs-list 
                li.breadcrumbs__item 
                    a(href="") Главная 
                li.breadcrumbs__item 
                    a(href="") Доставка
    .delivery
        .container  
            .delivery__tabs 
                .delivery__tabs-item.active Доставка
                .delivery__tabs-item Самовывоз
                .delivery__tabs-item Оплата
            .table 
                .table-head 
                    .table-row 
                        .table__cell.table__cell-title Зона доставки 
                        .table__cell до 100 000 руб.
                        .table__cell от 100 000 руб. до 500 000 руб.
                        .table__cell от 500 000 руб.
                .table-body 
                    .table-row
                        .table__cell.table__cell-title г. Москва в пределах МКАД	
                        .table__cell 1 500 руб.	
                        .table__cell 1 000 руб.
                        .table__cell Бесплатно
                    .table-row
                        .table__cell.table__cell-title До 10 км от МКАД	
                        .table__cell 3 000 руб.	
                        .table__cell 2 000 руб.
                        .table__cell Бесплатно
                    .table-row
                        .table__cell.table__cell-title От 10 до 30 км от МКАД
                        .table__cell 5 000 руб.
                        .table__cell 4 000 руб.
                        .table__cell Бесплатно
                    .table-row
                        .table__cell.table__cell-title Более 30 км от МКАД	
                        .table__cell Уточняйте*	
                        .table__cell Уточняйте*	
                        .table__cell Бесплатно
                    .table-row
                        .table__cell.table__cell-title До терминалов транспортных <br> компаний в пределах МКАД	
                        .table__cell Бесплатно	
                        .table__cell Бесплатно
                        .table__cell Бесплатно