doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        ul  
            li 
                a(href="product-card.html") Карточка товара
            li 
                a(href="main.html") Главная
            li 
                a(href="contacts.html") Контакты
            li 
                a(href="contacts.html") Новости(разводящая)
            li 
                a(href="contacts.html") Новости(конечная)
            li 
                a(href="delivery.html") Доставка
            li 
                a(href="#") Проект(разводящая)
            li 
                a(href="project.html") Проект(конечная)
            li 
                a(href="warranty.html") Гарантия
            li 
                a(href="services.html") Услуги 
            li 
                a(href="shops.html") Где купить 
            li 
                a(href="dillers.html") Диллерам
