extends include/layout
include include/_mixin
block Content
    .breadcrumbs 
        .container 
            ul.breadcrumbs-list 
                li.breadcrumbs__item 
                    a(href="") Главная 
                li.breadcrumbs__item 
                    a(href="") Услуги
    .services 
        .container 
            h2.services__title Услуги
        .services__banner 
            .services__banner-img 
                img(src="Content/images/services-banner.png", alt="Баннер услуг")
            .services__banner-info 
                .service__banner-text Независимо от сложности проекта мы подбираем новейшее светотехническое оборудование высокого качества, рассчитанное на <span>долгосрочную</span> эксплуатацию. 
                .service__banner-link Узнайте больше по телефону:
                    a(href="tel:+7(495)125-10-07") +7 (495) 125-10-07 
        .container 
            .services__type 
                .services__type-item.active Проектирование
                .services__type-item Подбор оборудования
                .services__type-item Монтажные работы
            .services-list 
                .services__item 
                    .services__item-head
                        .services__item-num 01.
                        .services__item-title Аудит
                    .services__item-desc 
                        p Исследуем объекты на любой стадии, проводим электротехнические и светотехнические измерения, предпроектные изыскания и формулируем задачи для проектирования.
                .services__item 
                    .services__item-head
                        .services__item-num 02. 
                        .services__item-title Концепция освещения
                    .services__item-desc 
                        p Разрабатываем научно обоснованную концепцию энергоэффективного и эргономичного освещения в зависимости от назначения пространства, создаем эстетически привлекательный светодизайн и комфортные условия для работы и отдыха с учетом характера окружающей среды, а также влияния на эмоции и настроение людей.
                .services__item 
                    .services__item-head
                        .services__item-num 03.
                        .services__item-title 3D-визуализация
                    .services__item-desc 
                        p Представляем варианты полноцветной 3D-визуализации проекта для детального согласования всех нюансов и утверждения выбранного электрооборудования и светового сценария.
                .services__item  
                    .services__item-head
                        .services__item-num 04. 
                        .services__item-title Светотехнический проект с подбором оборудования
                    .services__item-desc 
                        p Подбираем светотехническое оборудование с учетом особенностей объекта, поставленных задач и бюджета, составляем рекомендации по выбору оптимального типа освещения, предлагаем возможные конструктивные решения и способы реализации проекта. 
                        p Рассчитываем уровень освещенности с учетом ГОСТов и СниПов в программе DIALux evo от Dial GmbH, подсчитываем необходимое количество элементов освещения и представляем детально оформленный проект с диаграммами освещенности.
                .services__item
                    .services__item-head    
                        .services__item-num 05. 
                        .services__item-title Проект системы управления освещением и подбор оборудования
                    .services__item-desc 
                        p Предлагаем варианты по управлению освещением, подбираем оптимальное оборудование DALI системы ручного и автоматического управления светом, размечаем расстановку датчиков движения и освещенности, а за счет использов
                .services__item 
                    .services__item-head
                        .services__item-num 06. 
                        .services__item-title Электротехнический проект
                    .services__item-desc 
                        p Составляем проектную документацию, необходимую для подведения питания на объект и подключения систем управления светом в соответствии с нормами безопасности, рассчитываем нагрузку на сети, подбираем марку, тип и сечение кабеля.
                        p Определяем комплектацию щитов управления и электропитания, составляем схемы подключения, согласуем спецификацию на электротехнические изделия и выбранные материалы.