extends include/layout
include include/_mixin
block Content
    .breadcrumbs 
        .container 
            ul.breadcrumbs-list 
                li.breadcrumbs__item 
                    a(href="") Главная 
                li.breadcrumbs__item 
                    a(href="") Где купить
    .shops 
        .container 
            .shops__head 
                h2.shops__title Где купить?
                .shops__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .shops-list 
                .shops__item 
                    img(src="Content/images/shops/shop-1.png", alt="")
                .shops__item 
                    img(src="Content/images/shops/shop-2.svg", alt="")
                .shops__item 
                    img(src="Content/images/shops/shop-3.png", alt="")
                .shops__item 
                    img(src="Content/images/shops/shop-4.png", alt="")
                .shops__item 
                    img(src="Content/images/shops/shop-5.png", alt="")
                .shops__item 
                    img(src="Content/images/shops/shop-6.png", alt="")
                .shops__item 
                    img(src="Content/images/shops/shop-7.png", alt="")
                .shops__item 
                    img(src="Content/images/shops/shop-8.png", alt="")
                .shops__item 
                    img(src="Content/images/shops/shop-9.png", alt="")
                .shops__item 
                    img(src="Content/images/shops/shop-10.png", alt="")
                .shops__item 
                    img(src="Content/images/shops/shop-11.png", alt="")
                .shops__item 
                    img(src="Content/images/shops/shop-12.png", alt="")
