extends include/layout
include include/_mixin
block Content 
    .breadcrumbs 
        .container 
            ul.breadcrumbs-list 
                li.breadcrumbs__item 
                    a(href="") Главная 
                li.breadcrumbs__item 
                    a(href="") Гарантия и сервис
    .warranty
        .container 
            h2.warranty__title Гарантия и сервис
            .warranty-head 
                .warranty__warning
                    .warranty__warning-title Внимание!
                    .warranty__warning-desc Гарантийный срок отсчитывается с даты отгрузки товара со склада
                .warranty__column 
                    .warranty-head__desc На всю представленную на нашем сайте продукцию распространяется гарантия от 2 до 7 лет. Более точную информацию вы найдете на странице соответствующего продукта
                    h3 Гарантийные обязательства распространяются:
                    ul 
                        li на светильники;
                        li корпуса светильников;
                        li оптические элементы и другие электротехнические компоненты;
                        li элементы крепления, установки и подсоединения светильников к электрической сети
        .warranty-banner 
            img(src="Content/images/warranty.png", alt="Баннер")
        .container 
            .warranty-main 
                .warranty-main__asside Выполнение гарантийных обязательств происходит в рамках <span>законодательства РФ</span> и в соответствии с договорами между партнерами и HTL
                .warranty__column 
                    h3.warranty__subtitle Условия гарантии
                    .warranty__text 
                        p Гарантия действует только в случаях, когда продукция транспортировалась, хранилась, монтировалась и эксплуатировалась с соблюдением требований производителя, изложенных в паспорте изделия, ТУ, инструкциях по монтажу и эксплуатации, а также прописанных в условиях поставки, правилах технической эксплуатации электроустановок для потребителей и других обязательных для сторон правилах, которые дополнительно были установлены в рамках договоров
                        p Претензии по изменению оттенков окрашенных поверхностей и пластиковых частей светильников в процессе их эксплуатации не принимаются, так как такие случаи не признаются гарантийными
                    h3.warranty__subtitle Исполнение гарантийных обязательств
                    .warranty__text 
                        p При поступлении обоснованной рекламации мы принимаем неисправную продукцию, чтобы провести техническую экспертизу и принять решение на основании дефектовки в нашем сервисном центре.
                        p В период действия гарантии при поломке или дефекте мы оперативно осуществляем ремонт или замену оборудования в рамках гарантийных обязательств, а также принимаем на себя расходы по доставке отремонтированной / замененной / подменной продукции.
                        p После окончания срока гарантийных обязательств мы оставляем за собой право рассмотреть рекламацию, чтобы принять решение о замене или компенсации стоимости оборудования, которое было признано не соответствующим техническим параметрам.
                        p Внимание! После приобретения изделия, пожалуйста, сохраняйте документ, подтверждающий факт и дату покупки. Он может потребоваться в случае обращения за гарантийным обслуживанием.
                        p Вы можете оформить обращение по гарантии, заполнив рекламацию и отправив ее нам на service@h-t-l.ru
                    h3 Предъявление рекламаций на неисправное оборудование
                    .warranty__text 
                        p Предъявление рекламаций (претензий) на продукцию по гарантии осуществляется в гарантийный срок, который указан в паспорте готового изделия
                        p Рекламацию необходимо предъявлять по форме, установленной в договоре. Если поставка была осуществлена по договору-счету, то необходимо подготовить и направить на адрес info@h-t-l.ru акт рекламации (скачать)
                    h3 Рассмотрение рекламаций и выполнение обязательств
                    .warranty__text
                        p Каждую рекламацию мы рассматриваем в течение 60 часов с момента ее получения
                        p Сроки замены бракованного товара указываем в ответе (Заключении) на рекламацию с учетом его наличия на нашем складе или сроков изготовления
                        p Вся дополнительная информация имеется в паспорте на оборудование
                        p При возникновении вопросов по гарантийной поддержке обращайтесь к нам или к компании-дилеру, с которой сотрудничаете
                        p Сервисный центр HTL: service@h-t-l.ru
                    h3 Правовое поле
                    .warranty__text 
                        p Получите больше информации по телефону: +7 (495) 125-10-07