

.dillers__title {
    margin-bottom: 70px;
    @include md-block {
        margin-bottom: 45px;
    }
    @include sm-block {
        margin-bottom: 40px;
    }
}

.dillers__desc {
    margin-bottom: 40px;
    max-width: 700px;
    @include sm-block {
        margin-bottom: 50px;
    }
}

.bonuses-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin-bottom: 180px;
    @include md-block {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px 20px;
        margin-bottom: 100px;
    }
    @include sm-block {
        grid-template-columns: 1fr;
        grid-gap: 15px ;
    }
}

.bonuses__item {
    padding: 45px 40px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F9F9F9;
    border-radius: 8px;
    @include md-block {
        padding: 30px 20px 40px;
    }
    @include sm-block {
        min-height: 300px;
    }
}

.bonuses__item-head {
    padding-top: 16px;
    border-top: 1px solid $color-border;
    @include md-block {
        padding-top: 30px;
    }
}

.bonuses__item-num {
    font-size: 18px;
    line-height: 22px;
    color: $color-primary;
    margin-bottom: 5px;
    @include md-block {
        font-size: 16px;
        line-height: 1;
    }
}

.bonuses__item-title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 24px;
    font-weight: 500;
    @include md-block {
        font-size: 20px;
        line-height: 1;
    }
    @include sm-block {
        font-size: 18px;
    }
}

.bonuses__item-desc {
    @include md-block {
        font-size: 16px;
        line-height: 22px;
    }
    @include sm-block {
        font-size: 14px;
        line-height: 20px;
    }
}

.dillers-official {
    margin-bottom: 180px;
    @include md-block {
        margin-bottom: 140px;
    }
    @include sm-block {
        padding-bottom: 96px;
        margin-bottom: 70px;
        position: relative;
    }
}

.dillers-official__wrapper {
    padding: 100px 140px 80px 100px;
    background: #F5F5F5;
    border-radius: 8px;
    @media (max-width: 1200px) {
        padding: 40px 40px 50px;
    }
    @include md-block {
        width: calc(100% + 60px);
        margin: 0 -30px;
    }
    @include sm-block  {
        padding: 40px 20px;
        margin: 0;
        width: 100%;
    }
}

.dillers-official__content {
    display: flex;
    align-items: flex-start;
    @media(max-width: 1200px) {
        flex-direction: column;
    }
}

.dillers-official__title {
    max-width: 428px;
    width: 100%;
    margin-right: 60px;
    @media(max-width: 1200px) {
        margin-right: 0;
        margin-bottom: 45px;
    }
}

.dillers-official__desc {
    max-width: 694px;
    margin-bottom: 60px;
    @media(max-width: 1200px) {
        max-width: 275px;
        margin-bottom: 60px;
    }
    @include sm-block  {
        max-width: 100%;
        margin-bottom: 50px;
    }
}

.dillers-official__btn {
    display: block;
    max-width: 429px;
    width: 100%;
    margin-top: 70px ;
    @media(max-width: 1200px) {
        max-width: 334px;
        margin: 55px auto 0;
    }
    @include sm-block  {
        position: absolute;
        bottom: 0px;
        max-width: 100%;
        width: calc(100% - 60px);
        left: 50%;
        transform: translateX(-50%);
    }
}

.dillers__steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 50px;
    @media(max-width: 1200px) {
        grid-gap: 20px 15px;
    }
    @include sm-block {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
}

.dillers__step {
    padding: 30px 0;
    display: flex;
    align-items: flex-start;
    border-top: 1px solid $color-border;
    a {
        font-weight: 500;
        color: $color-black;
    }
    @media(max-width: 1200px) {
        padding: 15px 0;
    }
    @include sm-block  {
        padding: 20px 0 0 0;
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.dillers__step-num {
    width: auto;
    flex-shrink: 0;
    margin-right: 25px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1;
    color: $color-primary;
    @include sm-block  {
        font-size: 22px;
        margin-right: 15px;
    }
}

.dillers__step-desc {
    width: 100%;
    font-size: 22px;
    line-height: 30px;
    @media(max-width: 1200px) {
        font-size: 16px;
        line-height: 22px;
    }
}

.dillers-cabinet {
    padding: 110px 0;
    background-color: $color-black;
    .container {
        display: flex;
        align-items: center;
    }
    @include md-block {
        padding: 70px 0;
    }
    @include sm-block {
        padding: 50px 0;
    }
}

.dillers-cabinet__info {
    max-width: 556px;
    width: 100%;
    margin-right: 158px;
    @include md-block {
        max-width: 100%;
        margin-right: 0;
    }
}
.dillers-cabinet__title {
    margin-bottom: 30px;
    color: #fff;
    @include md-block {
        max-width: 220px;
    }
    @include sm-block {
        margin-bottom: 25px;
    }
}

.dillers-cabinet__desc {
    max-width: 574px;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 80px;
    @include md-block {
        max-width: 315px;
        font-size: 16px;
        line-height: 24px;
    }
    @include sm-block {
        margin-bottom: 40px;
    }
}
.dillers-cabinet__img {
    width: 100%;
    img {
        display: block;
        width: 100%;
    }
    &--mob {
        display: none;
    }
    @include md-block {
        display: none;
        &--mob {
            display: block;
            max-width: 523px;
            width: 100%;
            margin: 0 auto;
        }
    }
}

.dillers-cabinet__action {
    button {
        display: block;
        max-width: 330px;
        width: 100%;
    }
    @include md-block {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
    }
    @include sm-block {
        flex-direction: column;

    }
}

.dillers-cabinet__head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 50px;
    @include sm-block {
        flex-direction: column;
        align-items: flex-start;
    }
}

.dillers-cabinet__enter {
  margin-bottom: 30px;  
  @include md-block {
    margin-bottom: 0;
    margin-right: 20px;
  }
  @include sm-block {
    margin-right: 0;
    margin-bottom: 20px;
  }
}