.filter {
    &.open {
        .filter__title span {
            svg {
                transform: rotate(0);
            }
        }
    }
    @include md-block {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        background-color: #fff;
        z-index: 10;
        &.active {
            display: block;
        }
    }
}

.filter-head {
    display: flex;
    justify-content: space-between;
    height: 88px;
    padding: 30px 30px 30px 60px;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    cursor: pointer;
    @include md-block {
        padding: 30px 40px;
    }
}

.filter__close  {
    display: none;
    @include md-block {
        display: block;
        cursor: pointer;
    }
}

.filter__reset {
    cursor: pointer;
    @include md-block {
        display: none;
    }
}

.filter__title {
    pointer-events: none;
    span {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        svg {
            display: block;
            margin-right: 25px;
            transform: rotate(180deg);
            @include md-block {
                display: none;
            }
        }
       
    }
}




.filter-body {
    display: none;
    &.open{
        display: block;
    }
    @include md-block {
        display: block;
    }
}

.filter-section {
    padding: 40px 40px 50px 100px;
    font-size: 20px;
    line-height: 1;
    border-bottom: 1px solid $color-border;
    @include md-block {
        padding: 30px 40px;
        &.open {
            .filter-section__head svg {
                transform: rotate(180deg);
            }
        }
    }
}

.filter-section__head {
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1;
    pointer-events: none;
  
    svg {
        display: none;
        fill: $color-primary;
    }
    @include md-block {
        cursor: pointer;
        margin-bottom: 0;
        pointer-events: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        svg  {
            display: block;
        }
    }
}
.filter-section__body {
    @include md-block {
        padding: 40px 0 20px;
        display: none;
        &.open {
            display: block;
        }
    }
}

.filter-section__item {
    margin-bottom: 20px;
    width: 100%;
    cursor: pointer;
    &:last-of-type {
        margin-bottom: 0;
    }
}

.filter-check {
    width: 100%;
    &__input {
        display: none;
        &:checked + .filter-check__label {
            &::before {
                border: 2px solid $color-primary;
                opacity: 1;
            }
            &::after {
                opacity: 1;
                transform: scale(1);
                transition: transform .2s;
            }
        }
    }
    &__label {
        display: block;
        width: 100%;
        position: relative;
        cursor: pointer;
        &::before {
            box-sizing: border-box;
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            border: 2px solid #1C1C1C;
            opacity: .15;
            right: 0;
            top: 0;
        }
        &::after {
            box-sizing: border-box;
            width: 10px;
            height: 10px;
            background-color: $color-primary;
            content: '';
            position: absolute;
            top: 5px;
            right: 5px;
            opacity: 0;
            transform: scale(0);
            transition: transform .2s;
        }
        @include md-block {
            padding-left: 58px;
            width: auto;
            &::before {
                left: 0;
                right: auto;
            }
            &::after {
                left: 5px;
                right: auto;
            }
        }
    }
}

.filter-range__value {
    border: 1px solid rgba($color-black, .3);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    margin-bottom: 40px;
}

.filter-range__min {
    border-right: 1px solid rgba($color-black, .3);
    text-align: center;
    padding: 15px;
    height: 50px;
    color: rgba($color-black, .5);
}

.filter-range__max {
    text-align: center;
    padding: 15px;
    height: 50px;
    color: rgba($color-black, .5);
}