@font-face {
    font-family: 'Stem';
    src: url('../fonts/Stem-Light.woff') format('woff');
    font-style: normal;
    font-weight: 350;
}
@font-face {
    font-family: 'Stem';
    src: url('../fonts/Stem-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Stem';
    src: url('../fonts/Stem-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Stem';
    src: url('../fonts/Stem-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}