.header {
    &-top {
        display: flex;
        align-items: center;
        height: 75px;
        border-bottom: 1px solid #E6E6E6;
        @include md-block {
            display: none;
        }
    }
    &__search {
        width: 100%;
        padding: 26px;
    }
    &__lang {
        border-right: 1px solid #E6E6E6;
        text-align: center;
        width: 100px;
        height: 100%;
        padding: 26px 0;
        flex-shrink: 0;
        cursor: pointer;
    }
    &__catalog {
        border-right: 1px solid #E6E6E6;
        width: 209px;
        text-align: center;
        padding: 26px 0;
        flex-shrink: 0;
        cursor: pointer;
    }
    &__fav {
        width: 100px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #E6E6E6;
        flex-shrink: 0;
        cursor: pointer;
        svg {
            width: 22px;
            height: 22px;
        }
        &:hover {
            svg path {
                fill: $color-black;
            }
        }
        @media screen and (max-width: 1200px)  {
            width: 70px;
        }
    }
    &__cabinet {
        width: 205px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-left: 1px solid #E6E6E6;
        flex-shrink: 0;
        cursor: pointer;
        svg {
            display: block;
            margin-left: 12px;
        }
        &-mob {
            display: none;
            @include md-block {
                display: block;
                width: 60px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-left: 1px solid #E6E6E6;
                border-right: 1px solid #E6E6E6;
                margin: 0 0 0 auto;
                flex-shrink: 0;
            }
        }
        @include xl-block {
            width: 174px;
        }
        @media screen and (max-width: 1200px)  {
            width: 150px;
        }
    }
    &__logo {
        margin-left: 100px;
        @include xl-block {
            height: 38px;
            width: auto;
            margin-left: 30px;
            img {
                width: auto;
                height: 38px;
            }
        }
        @include md-block {
            height: 20px;
            margin: 0 auto;
            width: 100%;
            text-align: center;
            img {
                height: 20px;
            }
        }
    }
    &-main {
        height: 104px;
        border-bottom: 1px solid #E6E6E6;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include xl-block {
            height: 90px;
        }
        @include md-block {
            height: 60px;
        }
    }
    &__metering {
        flex-shrink: 0;
        display: none;
        background-color: $color-primary;
        color: #fff;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: none;
        svg {
            display: block;
        }
        @include md-block {
            display: flex;
            align-items: center;
            justify-content: center;
            order: -1;
            width: 95px;
            span {
                display: none;
            }
        }
        @include sm-block {
            width: 60px;
            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
    &__tel {
        width: 305px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid #E6E6E6;
        color: $color-black;
        height: 100%;
        svg {
            display: block;
            margin-right: 12px;
        }
        @include xl-block {
            width: 274px;
        }
        @media screen and (max-width: 1200px) {
            width: 220px;
        }
        @include md-block {
            display: none;
        }
    }
    &__burger {
        display: none;
        @include md-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 60px;
            flex-shrink: 0;
            span {
                width: 20px;
                height: 2px;
                background-color: $color-black;
                transition: .2s;
                + span {
                    margin-top: 5px;
                }
            }
            &.active {
                z-index: 15;
                position: relative;
                span {
                    &:nth-of-type(1) {
                        transform: rotate(45deg);
                        position: absolute;
                        transition: .5s;
                    }
                    &:nth-of-type(2) {
                        transform: rotate(-45deg);
                        position: absolute;
                        margin-top: 0;
                        transition: .5s;
                    }
                }
            }
        }
    }
    &-nav {
        @include md-block {
            position: fixed;
            height: 100vh;
            background-color: #fff;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 12;
            display: none;
            &.active {
                display: block;
            }
        }

    }
    &-menu {
        display: flex;
        align-items: center;
        @include md-block  {
            flex-direction: column;
            align-items: flex-start;
            padding: 40px;
        }
        &__item {
            padding: 0 30px;
            position: relative;
            
            a {
                font-size: 20px;
                line-height: 1;
                color: $color-black;
            }
            &::before {
                content: '';
                width: 100%;
                height: 1px;
                background-color: $color-primary;
                position: absolute;
                bottom: -38px;
                left: 0;
                opacity: 0;
            }
            &:hover {
                a {
                    color: $color-primary;
                }
                &::before {
                    opacity: 1;
                }
            }
            @include xl-block {
                padding: 0 16px;
                &::before {
                    bottom: -32px;
                }
                a {
                    font-size: 16px;
                    line-height: 1;
                }
            }
            @include md-block {
                padding: 12px 0;
                a {
                    font-size: 18px;
                    line-height: 18px;
                }
            }
        }
    }
}