footer.footer 
    .footer-top
        .container 
            .footer-head 
                a.footer__logo(href="#")
                    img(src="Content/images/logo-white.svg", alt="Лого") 
                .footer-socials 
                    a.footer-socials__item(href="#") 
                        include ../../images/ico-ig.svg
                    a.footer-socials__item(href="#") 
                            include ../../images/ico-tw.svg
                    a.footer-socials__item(href="#") 
                            include ../../images/ico-fb.svg
            .footer-main
                .footer-col
                    .footer__subtitle Клиентам
                    a.footer__link(href="") Продукция
                    a.footer__link(href="") Решения
                    a.footer__link(href="") Где купить?
                    a.footer__link(href="") Дизайнерам и архитекторам
                    a.footer__link(href="") Дилерам
                    a.footer__link(href="") Защита проекта
                    a.footer__link(href="") Скачать каталог
                .footer-col
                    .footer__subtitle О компании
                    a.footer__link(href="") Портфолио
                    a.footer__link(href="") Новости и события
                    a.footer__link(href="") Контакты
                    .footer__tel 
                        span Телефон
                        a(href="#") +7 (495) 125-10-07
                    
                .footer-col
                    .footer__subtitle Помощь
                    a.footer__link(href="") Оплата и доставка
                    a.footer__link(href="") Гарантия и сервис
                    .footer__mail 
                        span Почта
                        a(href="#") info@h-t-l.ru
    .footer-bottom 
        .container 
            a(href="#").footer__privacy Политика конфиденциальности
            a(href="#").footer__developer Сайт сделан в 
                span FINIK