.form__input {
    width: 100%;
    height: 80px;
    padding: 32px;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    line-height: 1;
    font-weight: 350;
    &::placeholder {
        color: $color-black;
        font-weight: 350px;
        font-size: 16px;
        line-height: 1;
    }
    @include md-block {
        height: 66px;
        padding: 25px 30px;
    }
    @include sm-block {
        padding: 20px 30px;
        height: 56px;
    }
}

.form__item {
    margin-bottom: 30px;
    @include md-block  {
        margin-bottom: 15px;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

.form__textarea-input {
    width: 100%;
    height: 100%;
    padding: 32px;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    line-height: 1;
    font-weight: 350;
    &::placeholder {
        color: $color-black;
        font-weight: 350px;
        font-size: 16px;
        line-height: 1;
    }
    @include md-block {
        padding: 25px 30px;
    }
    @include sm-block {
        padding: 20px 30px;
    }
}

.form__btn {
    margin-top: 33px;
    max-width: 100%;
    width: 100%;
    @include md-block {
        margin-top: 53px;
    }
    @include sm-block {
        margin-top: 40px;
    }
}


.checkbox {

}

.checkbox__input {
    display: none;
    &:checked ~ .checkbox__label {
        &::after {
            opacity: 1;
        }
    }
}

.checkbox__label {
    padding-left: 36px;
    position: relative;
    font-size: 16px;
    line-height: 1;
    display: block;
    &::before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 3px;
        border: 2px solid $color-primary;
        background-color: transparent;
        display: block;
        box-sizing: border-box;
        top: 0px;
        left: 0;
    }
    &::after {
        content: '';
        position: absolute;
        width: 4px;
        height: 10px;
        border-right: 2px solid $color-primary;
        border-bottom: 2px solid $color-primary;
        display: block;
        box-sizing: border-box;
        top: 4px;
        left: 8px;
        transform: rotate(45deg);
        opacity: 0;
    }
    a {
        color: $color-primary;
        font-weight: 500;
    }
    @include sm-block {
        padding-left: 30px;
        &::after {
            top: 4px;
            left: 6px;
        }
        &::before {
            top: 3px;
            width: 15px;
            height: 15px;
        }
        font-size: 14px;
        line-height: 20px;
    }
}

.form-row  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 40px;
    .form__item {
        margin-bottom: 0;
    }
    @include lg-block  {
        gap: 15px 20px;
    }
    @include sm-block {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}